table{
    border:2px solid red;
    border-collapse:collapse;
    margin:auto;
    padding:auto;
}
td{
    text-align:center;
    border:1px solid red;
}
h1{
    color:red;
    text-align:center;
    font-family:Arial;
}
th{
    color:white;
    background-color:red;
    border:1px solid white;
    text-align:center;
}
tr td:last-child{
    text-align:left;
}